# Dependencies
node_modules/
.pnpm-store/

# Builds & Outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Tools
.vscode/
.idea/
*.swp
*.swo

# Database & Storage
*.sqlite
*.sqlite-journal
prisma/migrations/dev.db

# OS
.DS_Store
Thumbs.db
